= link_to fa_icon("refresh", text: "Загрузить ещё"), \
					workouts_path({ page: page_number, format: :js }), \
					class: "btn btn-primary", \
					data: { action: "load-more-workouts" }, \
					remote: true, \
					style: "display: block; margin: 0 1rem 30px auto; max-width: 160px;"
