.form-as-btn
	display: inline-block


.workout-mobile

	&__title
		background-color: hsl(119, 68%, 39%)
		color: white
		font-size: 12px
		font-weight: normal
		line-height: 1em
		margin: 0 -15px
		padding: 6px 15px 4px

	&__excercise
		border-top: solid 1px hsl(0, 0%, 90%)
		padding-top: 11px
		padding-bottom: 15px
		position: relative
		margin-left: 22px

		&:first-of-type
			border-top: none

		&__title
			margin-bottom: 7px

		&__menu
			text-align: right
			position: absolute
			top: 20px
			right: 0

			& > * + *
				margin-left: 10px

	&__counter
		color: gray
		font-size: 12px
		position: absolute
		left: -20px

	&__muscles

		&__ul
			list-style-type: none
			padding-left: 0
			margin-bottom: 0
			font-size: 12px
			line-height: 1.4em

			li
				display: inline
				padding: 3px 3px 3px 0

				&:first-child
					font-weight: bold

	&__WRT
		font-size: 12px

	&__weight
		padding-right: 5px
