.workout-mobile
	border-top: solid 1px hsl(0, 0%, 90%)
	padding-top: 10px
	padding-bottom: 15px

	&__title
		font-size: 12px
		font-weight: normal
		margin: 0 0 3px

	&__excercise
		padding-top: 12px
		padding-bottom: 10px

	&__counter
		color: gray
		font-size: 12px

	&__muscles
		padding-left: 13px

	&__actions
		display: flex
		margin-top: 5px
		padding-left: 13px

		> * + *
			margin-left: 10px

	&__WRT
		padding-left: 13px

	&__weight
		padding-right: 5px
