.increment-btn-1
	border-radius: 50%
	border-style: none
	display: inline-block
	height: 25px
	line-height: 25px
	padding: 0
	text-align: center
	width: 25px

	.fa
		color: white


.increment-btn-2
	background-color: #e9ecef
	color: white

	border-radius: 50%
	border-style: none
	font-weight: bold

	text-align: center
	display: inline-block
	line-height: 25px
	height: 25px
	padding: 0
	width: 25px

	&:hover,
	&:focus
		color: white
		text-decoration: none

	&--success
		&:hover
			background-color: hsl(150, 44%, 84%)

	&--danger
		&:hover
			background-color: hsl(346, 42%, 85%)
